<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>8</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2022-09-24T01:10:50.7424532Z;True|2022-09-23T21:38:22.5205745+03:00;False|2022-09-23T21:37:57.4263346+03:00;False|2022-09-23T21:37:39.3894653+03:00;False|2022-09-23T21:37:32.7088795+03:00;False|2022-09-23T21:37:21.8719105+03:00;True|2022-09-23T21:27:07.4865444+03:00;False|2022-09-23T21:26:50.9175087+03:00;False|2022-09-23T21:25:48.7087957+03:00;True|2022-09-23T15:30:29.3491824+03:00;True|2022-09-23T15:25:48.6035578+03:00;True|2022-09-23T14:30:09.7517208+03:00;True|2022-09-23T12:13:26.6261543+03:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>.NET Runtime 6.0.6 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>